<StackLayout class="trail-app-container">
  <StackLayout class="p-10">
    <Label text="Sign In" textWrap="true" class="tl-title"></Label>
  </StackLayout>

  <StackLayout class="form">
    <StackLayout class="input-field">

      <Label text="Email" class="tl-input-label"></Label>
      <TextField keyboardType="email" autocorrect="false" autocapitalizationType="none" class="tl-input" [(ngModel)]="email"></TextField>

      <Label text="Password" class="tl-input-label"></Label>
      <TextField secure="true" class="tl-input" [(ngModel)]="password"></TextField>

    </StackLayout>
  </StackLayout>

  <Button (tap)="signinUser()" text="Sign in" class="btn btn-outline tl-btn"></Button>
</StackLayout>
