<ActionBar title="TRAIL" class="action-bar">
    <ActionItem nsRouterLink="/help" ios.position="right" android.position="popup">
    <Button text="HELP" class="action-item"></Button>
  </ActionItem>
</ActionBar>


<StackLayout class="trail-app-container">
    <Label text="Sign in" class="tl-title"></Label>
  <StackLayout class="form">
    <StackLayout class="input-field">

      <Label text="Email" class="tl-input-label"></Label>
      <TextField keyboardType="email" autocorrect="false" autocapitalizationType="none" class="tl-input" [(ngModel)]="email"></TextField>

      <Label text="Password" class="tl-input-label"></Label>
      <TextField secure="true" class="tl-input" [(ngModel)]="password"></TextField>

    </StackLayout>
  </StackLayout>

  <Button text="Sign in" (tap)="signinUser()" class="btn btn-default"></Button>
</StackLayout>
