<ActionBar title="Create game" class="tl-action-bar">
</ActionBar>

<GridLayout #pagecontainer rows="auto, auto" class="page">
    <GridLayout row="0" columns="auto, *, auto" class="action-bar-custom">
      <StackLayout col="1" class="left">
          <Button text="Back" (tap)="goToHome()"></Button>
      </StackLayout>

      <StackLayout col="2" class="right" >
        <Button text="Create" nsRouterLink="/createGame"></Button>
      </StackLayout>
  </GridLayout>

  <GridLayout row="1" rows="auto,auto">
      <StackLayout #mainContainer class="main-container">
          <GridLayout row="0">
            <Label class="section-description" text="This is the list of games you have completed." textWrap=true></Label>
          </GridLayout>

          <GridLayout row="1">
          <Label text="You can create a new game here." class="trail-small"></Label>
          </GridLayout>

          <GridLayout row="2">
          <TextField autocorrect="false" autocapitalizationType="none" hint="Game Name" class="tl-input" [(ngModel)]="name"></TextField>
          </GridLayout>

          <GridLayout row="3" translateY="0" translateX="0">
            <GridLayout translateX="30" translateY="2" class="play_bg"><Image src="res://play_bg" stretch="none" scaleX="0.8" scaleY="0.8"></Image></GridLayout>
            <Button text="Create game" (tap)="createGame()" class="menu-button"></Button>
          </GridLayout>
      </StackLayout>


  </GridLayout>
</GridLayout>
