<ActionBar title="Trail" class="tl-action-bar"></ActionBar>

<StackLayout class="page" orientation="vertical">

    <Label text="Sign In" class="tl-title"></Label>
    <Label [text]="subtitleMessage" class="tl-subtitle"></Label>

    <StackLayout class="form" [formGroup]="loginForm">
            <TextField
                    formControlName="username"
                    autocorrect="false"
                    hint="Earlham Username"
                    autocapitalizationType="none"
                    class="tl-input"
                    editable="true">
            </TextField>
            <TextField
                    formControlName="password"
                    secure="true"
                    hint="Password"
                    returnKeyType="done"
                    (returnPress)="onLogIn()"
                    editable="true"
                    class="tl-input">
            </TextField>
            <Button
                    text="Log in"
                    clearHistory="true"
                    (tap)="onLogIn()">
            </Button>
    </StackLayout>

</StackLayout>
