<GridLayout class="page">
  <StackLayout #mainContainer
    class="main-container">
    <Label
      class="main-label"
      [text]="subtitleMessage"
      textWrap=true
      color='white'></Label>

    <GridLayout #formControls
      [formGroup]="loginForm"
      class="form-controls"
      rows="auto, auto"
      translateY="0">
      <TextField
        formControlName="username"
        autocorrect="false"
        hint="Earlham Username"
        keyboardType="email"
        (returnPress)="focusPassword()"
        returnKeyType="next"

        autocapitalizationType="none"
        row="0"></TextField>
      <TextField #password
        formControlName="password"
        hint="Password"
        secure="true"
        returnKeyType="done"
        (returnPress)="onLogIn()"
        row="1"></TextField>
    </GridLayout>

    <Button
      text="Log In"
      clearHistory="true"
      (tap)="onLogIn()"
      class="submit-button"></Button>

  </StackLayout>

    <AbsoluteLayout #logoContainer
    class="logo-container">
    <Image
      src="res://logo_login"
      stretch="none"></Image>
  </AbsoluteLayout>
</GridLayout>
