<ActionBar title="TRAIL" class="action-bar">
</ActionBar>

<StackLayout class="trail-app-container">
  <StackLayout class="form">
    <StackLayout class="input-field">

      <Label text="Message" class="tl-input-label"></Label>
      <TextField autocorrect="false" autocapitalizationType="none" class="tl-input"></TextField>

    </StackLayout>
  </StackLayout>
  <Button [text]="'LCT_BTN' | translate" (tap)="chooseLocation()"  class="btn btn-default"></Button>

  <ListView [items]=locations class="list-group">
      <template let-name="item" let-odd="odd" let-even="even">
          <StackLayout [class.odd]="odd" [class.even]="even" class="list-group-item">
            <Label [text]="name" (tap)="onItemTapped(name)"></Label>
          </StackLayout>
        </template>
    </ListView>

  <Button [text]="'CF_BTN' | translate" (tap)="addMessage()"  class="btn btn-default"></Button>
</StackLayout>
