<ActionBar title={{message_num}} class="tl-action-bar">
</ActionBar>

<FlexboxLayout flexDirection="column" class="page">
    <Label text="Add the message to your newly created game. Press Done to stop adding messages and begin inviting people." class="trail-small" flexGrow="1" textWrap=true></Label>

    <FlexboxLayout flexDirection="column" class="page" flexGrow="1">
        <TextField autocorrect="false" autocapitalizationType="none" hint="Location Message" class="tl-input" [(ngModel)]="message"></TextField>
    </FlexboxLayout>

    <Label text={{locationSelectMessage}} class="trail-small" flexGrow="1"></Label>
    <ListView [items]="locationList" (itemTap)="onLocationTap($event)" height=50 flexGrow="3" class="list">
              <template let-item="item[0]" let-i="index" let-odd="odd" let-even="even" >
                  <StackLayout [class.odd]="odd" [class.even]="even" >
                      <Label [text]="item" class="list-label"></Label>
                  </StackLayout>
              </template>
    </ListView>

  <FlexboxLayout flexDirection="column" flexGrow="1">
      <Button text="Next message" (tap)="addMessage()" class="trail-btn"></Button>
  </FlexboxLayout>
  <FlexboxLayout flexDirection="column" flexGrow="1">
      <Button text="Done" (tap)="done()" class="trail-btn"></Button>
  </FlexboxLayout>




</FlexboxLayout>
