<ActionBar title="TRAIL" class="action-bar">
</ActionBar>


<StackLayout class="trail-app-container">
    <StackLayout class="p-10">
        <Label text="Welcome to TRAIL!" class="tl-title"></Label>
        <Label text="Press the button below to begin using TRAIL. Please use your Earlham email address and password for authentication." class="welcome-text" textWrap="true" ></Label>
    </StackLayout>


  <Button text="GET STARTED" (tap)="transitionToSignin()" class="btn btn-default"></Button>
</StackLayout>
