<ActionBar title="Home" class="tl-action-bar">
  <ActionItem nsRouterLink="/createGame" ios.position="right" android.position="popup">
    <Button text="Create game"></Button>
  </ActionItem>
  <ActionItem ios.position="left" android.position="popup" (tap)="logout()">
      <Button text="Log out"></Button>
  </ActionItem>
</ActionBar>



<TabView class="tl-tab-view" tabsBackgroundColor="#4A1A7E" color="#171738" selectedColor="#fff">
    <FlexboxLayout flexDirection="column" *tabItem="{title: 'Your games', iconSource: '~/icon.png'}" class="page">
        <Label text="This is the list of games you have created. You can view the name, description of the games and invite people here." class="trail-small" textWrap=true flexGrow="1"></Label>

        <ListView [items]="YourGameList" (itemTap)="onYourGameTap($event)" class="list" flexGrow="8">
          <template let-item="item" let-i="index" let-odd="odd" let-even="even">
              <StackLayout [class.odd]="odd" [class.even]="even">
                  <Label [text]='item' class="list-label"></Label>
              </StackLayout>
          </template>
      </ListView>
  </FlexboxLayout>


    <FlexboxLayout flexDirection="column" *tabItem="{title: 'Play'}" class="page">
        <Label text="This is the list of games you can play. Select a game to start playing." class="trail-small" flexGrow="1" textWrap=true></Label>

        <ListView [items]="gameList" (itemTap)="onGameTap($event)" class="list" flexGrow="8">
          <template let-item="item" let-i="index" let-odd="odd" let-even="even">
              <StackLayout [class.odd]="odd" [class.even]="even">
                  <Label [text]='item' class="list-label"></Label>
              </StackLayout>
          </template>
      </ListView>

    </FlexboxLayout>

    <FlexboxLayout flexDirection="column" *tabItem="{title: 'Completed Games'}" class="page">
        <Label text="This is the list of games you have completed." class="tl-subtitle" flexGrow="1"></Label>

        <Label text={{gameCompletedSelectMessage}} class="trail-small" flexGrow="1"></Label>
        <ListView [items]="completedGameList" (itemTap)="onCompletedGameTap($event)" class="list" (loadMoreItems)="loadMoreCompletedGame()" flexGrow="6">
          <template let-item="item" let-i="index" let-odd="odd" let-even="even">
              <StackLayout [class.odd]="odd" [class.even]="even">
                  <Label [text]='item' class="list-label"></Label>
              </StackLayout>
          </template>
      </ListView>

      <Label text={{gameInfo}} class="trail-info" textWrap=true flexGrow="1"></Label>
    </FlexboxLayout>

</TabView>
