<StackLayout class="trail-app-container">
  <StackLayout class="p-10">
    <Label text="Registration" textWrap="true" class="tl-title"></Label>
    <Label text="EC User ID: {{userName}}" textWrap="true" class="tl-subtitle"></Label>
  </StackLayout>

  <StackLayout class="form">
    <StackLayout class="input-field">

      <Label text="Full Name" class="tl-input-label"></Label>
      <TextField autocorrect="false" autocapitalizationType="none" class="tl-input" [(ngModel)]="fullname"></TextField>


    </StackLayout>
  </StackLayout>

  <Button (tap)="registerUser()" text="Register" class="btn btn-outline tl-btn"></Button>
</StackLayout>
