<ActionBar title={{activeGame}} class="tl-action-bar">
    <ActionItem ios.position="left" android.position="popup" (tap)="forfeit()">
        <Button text="Forfeit"></Button>
    </ActionItem>
</ActionBar>



<FlexboxLayout flexDirection="column" class="page">
    <Label text={{locationName}} class="tl-title" flexGrow="3"></Label>
    <Label text="Go to this location and check the message." class="trail-small" textWrap=true flexGrow="1"></Label>

    <FlexboxLayout flexDirection="column" flexGrow="3">
      <Button text="Check for message" (tap)="checkCurrentLocation()" class="trail-btn"></Button>
    </FlexboxLayout>

</FlexboxLayout>
