<ActionBar title={{activeGame}} class="tl-action-bar">
    <ActionItem ios.position="left" android.position="popup" (tap)="forfeit()">
        <Button text="Forfeit"></Button>
    </ActionItem>
</ActionBar>



<StackLayout class="page">
    <Label text="EH" class="tl-title"></Label>
    <Label text="Go to the next location and check the message." class="trail-small" textWrap=true></Label>
    <Label text={{locationInfo}} class="trail-small" textWrap=true></Label>
    
    <StackLayout>
      <Button text="Check for message" (tap)="checkCurrentLocation()" class="trail-btn"></Button>
    </StackLayout>

</StackLayout>
