<ActionBar title="TRAIL" class="tl-action-bar">
    <ActionItem ios.position="right" android.position="popup" (tap)="addMessage()">
        <Button text="+"></Button>
    </ActionItem>
</ActionBar>

<StackLayout class="page">
    <Label text="Game" class="tl-title"></Label>
    <Label text="Add new messages to your newly created game." class="trail-small"></Label>

    <Label text="Game title: Find the drugs" class="trail-subtitle" textWrap=true></Label>

    <ListView [items]="yourMessageLocationList" (itemTap)="onLocationTap($event)" height=150 class="list">
              <template let-item="item" let-i="index" let-odd="odd" let-even="even">
                  <StackLayout [class.odd]="odd" [class.even]="even">
                      <Label [text]='item.loc' class="list-label"></Label>
                  </StackLayout>
              </template>
    </ListView>
    <Label text={{locationSelectMessage}} class="trail-small"></Label>
    <Label text={{messageAtLocation}} class="trail-small" textWrap=true></Label>
  <Button text="Create Game" (tap)="done()" class="trail-btn"></Button>


</StackLayout>
