<GridLayout #pagecontainer rows="auto, auto" class="page">

    <!-- Row 1: The custom action bar -->
  <GridLayout row="0" columns="auto, *, auto" class="action-bar-custom">
    <StackLayout col="1" class="left">
        <Button text="Back" (tap)="goToHome()"></Button>
    </StackLayout>

    <StackLayout col="2" class="right" >
      <Button text="Create" nsRouterLink="/createGame"></Button>
    </StackLayout>

  </GridLayout>


  <!-- Row 2: The Page-->
  <GridLayout row="1" rows="auto,auto">

        <StackLayout row="0">
          <Label class="section-description" text="This is the list of games you can play. Select a game to start playing." textWrap=true></Label>
        </StackLayout>

        <RadListView
        row="1"
        (itemSelected)="onGameTap($event)"
        [items]="gameList"
        class="trail-list" height=400
        (itemLoading)="makeBackgroundTransparent($event)"
        pullToRefresh="true"
        (pullToRefreshInitiated)="refreshGameList($event)"
        selectionBehavior="Press">
        <ng-template tkListItemTemplate let-item="item" let-i="index">
                      <StackLayout>
                        <Label [text]='item' class="menu-button"></Label>
                        <AbsoluteLayout class="list_item_bg" translateY="-5">
                          <Image src="res://list_item_bg" stretch="none" scaleX="1.32" scaleY="1.1"></Image>
                        </AbsoluteLayout>
                        <AbsoluteLayout class="play_items_bg" translateY="-5">
                          <Image src="res://your_games_bg" stretch="none" scaleX="0.75" scaleY="0.75"></Image>
                        </AbsoluteLayout>
                      </StackLayout>
        </ng-template>
      </RadListView>


  </GridLayout>



</GridLayout>
