<ActionBar title="Trail" class="tl-action-bar"></ActionBar>

<FlexboxLayout class="page" orientation="vertical" flexDirection="column">

    <Label text="Registration" class="tl-title" flexGrow="3"></Label>
    <Label
          text="EC User ID:"
          class="tl-subtitle"
          flexGrow="1"
          >
    </Label>

    <FlexboxLayout class="form" [formGroup]="loginForm" flexDirection="column" flexGrow="6">
            <TextField
                        autocorrect="false"
                        autocapitalizationType="none"
                        class="tl-input"
                        hint="Enter full name"
                        formControlName="fullname"
                        flexGrow="1">
            </TextField>
            <FlexboxLayout flexGrow="1" flexDirection="column">
                <Button
                            text="Register"
                            (tap)="checkValidity()"
                            clearHistory="true"
                            class="trail-btn">
                </Button>
            </FlexboxLayout>

    </FlexboxLayout>
</FlexboxLayout>
